@font-face {
    font-family: "Roboto Light";
    src: url("http://s3.amazonaws.com/riff-resource/Roboto-Light.eot");
}

@font-face {
    font-family:"Roboto Light";src:url("http://s3.amazonaws.com/riff-resource/Roboto-Light.ttf");
}

html,body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Roboto Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
}

body {
    background-color: #f8f8f8;
    width: 420px;
    overflow-x: hidden;
    height: 100%;
}

html, body, div, span,
h1, h2, h3, fieldset, form {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.02em;
    vertical-align: baseline;
    color: #ebebeb;
}

.form-container .content-container {
    margin: 0.0em 0.0em 0.0em 0.0em;
    width: 100%;
    
}

.content-container {
    background-color: #222;
    border-radius: 3px;
    border: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.method-separator {
    /*border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;*/
    font-size: 0.95em;
    font-weight: normal;
    margin: 0 auto 1em auto;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
}

.method-separator2 {
    border-top: 0px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 0.95em;
    font-weight: normal;
    margin: 0 auto 1em auto;
    padding: 0.5em 0;
    text-align: center;
    width: 100%;
}

.method-separator-right {
    border-top: 0px solid #eee;
    border-right: 1px solid #eee;
    padding-right: 20px;


}


.form fieldset {
    display: block;
    padding: 0.6em 0.6em;
}

.form-footer {
    background-color: #444;
    border-top: 1px solid #e1e1e1;
    color: #666666;
    display: block;
    font-size: 0.9em;
    line-height: 1;
    overflow: hidden;
    padding: 0.9em 1.4em;
    text-align: center;
}


/* The text input field */
.form [type="text"] {
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0.6em 0.5em;
    width: 75%;
    outline: none;
    text-transform: uppercase;
}

/* The Text input field selected */
.form [type="text"]:focus {
    outline: none;
}

/* line 143, scss/modules/_forms.scss */
.form a {
    color: #70b8e0;
    text-decoration: underline;
}

/* line 148, scss/modules/_forms.scss */
.form a:hover, .form a:focus {
    color: #398bb9;
    text-decoration: none;
}

/* line 157, scss/modules/_forms.scss */
.form .tos-link:hover {
    color: #000;
}

/* line 1, scss/modules/_btns.scss */

.form .signup-btn {
    color: #25aae1;
    background-color: rgba(37, 37, 37, 0.95);
    text-decoration: none;
    border-radius: 33px;

    border: 1px solid #25aae1;
    box-shadow: rgba(255, 255, 255, 0.2) 0 1px 0 inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.3em;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    letter-spacing: 0.1em;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 10px;
    vertical-align: baseline;
    padding: 8px 20px 8px 20px;
}

/* Initially Hidden Error Box */
.error-box {
    display: none;
    color: #b22222;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    font-size: 0.95em;
    font-style: italic;
    font-weight: normal;
    margin: 0 auto 1em auto;
    padding: 0.5em 0;
    text-align: center;
    width: 95%;
}

.notification-switch {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.notification-text {
    float: left;
    width: 48%;
    text-align: right;
    line-height: 32px;
}

.fa{
    color: dodgerblue;
}

/* USER INPUT */

.user-input{
    width: 93% !important;
    height:25px;
    font-size:12px !important;
}

#tweet-img{
    z-index:9999 !important;
}

.logout{
    display: inline !important;
    text-transform: initial !important;
    letter-spacing: initial !important;
    font-size: 0.8em !important;
    margin-left:auto;
    margin-right:auto;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #eeeeee, white 25px);
  background-image: -moz-linear-gradient(top, #eeeeee, white 25px);
  background-image: -o-linear-gradient(top, #eeeeee, white 25px);
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -moz-linear-gradient(top, white 40%, #f0f0f0);
  background-image: -o-linear-gradient(top, white 40%, #f0f0f0);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: -webkit-linear-gradient(top, #eeeeee, white);
  background-image: -moz-linear-gradient(top, #eeeeee, white);
  background-image: -o-linear-gradient(top, #eeeeee, white);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

* {margin: 0; padding: 0;}
 
ul {
  list-style-type: none;
  max-width: 500px;
  margin-top: 10px;
}
 
h3 {
  font:  12px/1.5 "Roboto Light", Verdana, sans-serif;
  float: left;
  margin-top: 5px;
}
 
li img {
  float: left;
  margin: 0 5px 0 0;
  width: 30px;
}
 
li {
  padding: 2px;
  overflow: auto;
}

.keynote-title {
    margin-top: 10px;
    margin-bottom: 30px;
    color: #ffffff;
}

.setup-instructions {
    font-size: 70%;
    line-height: 130%
}

.setup-instructions-list {
    margin-left: 15px;
}

.setup-instructions-title {
    color: #25aae1;
    font-weight: bold;
    font-size: 105%;
    margin-bottom: 10px;
}

.music-players-header {
    margin-top: 20px;
    margin-bottom: 0;
}